@import ../../variables
input:-webkit-autofill
  -webkit-text-fill-color: $font-medium
  -webkit-box-shadow: 0 0 0 30px $background-strong inset !important


.field
  margin-top: 13px
  width: 100%

  &:first-child
    margin-top: 0

  &__icon-container
    transition: 0.3s
    background: $accent-weak
    color: $accent-strong
    height: 80%
    border-radius: 8px
    padding: 0 6px
    display: flex
    align-items: center

  &__content
    width: 100%
    border-radius: 8px 8px 0px 0px
    grid-template-columns: auto 1fr auto
    display: grid
    place-items: center
    gap: 18px

  &__input-container
    position: relative
    height: fit-content
    width: 100%

  &__input
    border-bottom: 3px darken($delimiter, 11%) solid
    font-size: 20px
    padding: 13px 0
    height: 100%
    width: 100%
    background: none
    color: $font-strong

    &::placeholder
      transition: 0.3s
      color: $font-medium

    &:focus
      border-bottom: 3px $accent-strong solid

    &:focus::placeholder
      color: transparent

  &__visibility
    font-variation-settings: 'FILL' 0, 'wght' 300
    cursor: pointer
    user-select: none
    width: 30px

  &__error
    height: 17px
    color: $red-strong
    font-size: 12px
    margin-top: 4px

.field
  .invalid &__icon-container
    background: $red-weak
    color: $red-strong

  .invalid &__input:focus
    border-bottom: 3px $red-strong solid