@import ../../variables

.activity-card
  cursor: pointer
  width: fit-content
  display: flex
  flex-direction: column
  align-items: center
  transition: .3s

  &__icon-container
    transition: .3s
    pointer-events: none
    aspect-ratio: 1 /1
    display: grid
    border-radius: 50%
    place-items: center
    width: 50px
    border: 1px solid #545457

  &__icon
    transition: 0.3s
    color: $accent
    font-size: 30px

  &__label
    color: $font-strong
    margin-top: 5px
    word-break: break-all
    text-align: center
    text-transform: lowercase
    font-size: 12px
    max-width: 50px
